/* Hide folder icons */
:root:has(#theme-No-Bookmark-Icon[theme-noBookmarkIcon-enabled="toolbar"]) {
    #personal-bookmarks {
        & .toolbarbutton-icon[type="menu"] {
            display: none !important;
        }
        & toolbarbutton.bookmark-item[type="menu"] {
            padding: 7px !important;
        }
    }
}

/* Hide sub folders icon */
:root:has(#theme-No-Bookmark-Icon[theme-noBookmarkIcon-enabled="sub"]) {
    #personal-bookmarks {
        & .menu-icon:not([srcset]) {
            display: none !important;
        }
    }
}

:root:has(#theme-No-Bookmark-Icon[theme-noBookmarkIcon-enabled="both"]) {
    #personal-bookmarks {
        & .toolbarbutton-icon[type="menu"] {
            display: none !important;
        }
        & toolbarbutton.bookmark-item[type="menu"] {
            padding: 7px !important;
        }
        & .menu-icon:not([srcset]) {
            display: none !important;
        }
    }
}

/* Hide  websites icon */
@media (-moz-pref("theme.noBookmarkIcon.site_enabled")) {
    .toolbar-menupopup .menu-iconic .menu-icon[srcset] {
        display: none !important;
    }
}

/* Grayscale websites icon */
@media (-moz-pref("theme.noBookmarkIcon.site_garayscale")) {
    .toolbar-menupopup .menu-iconic .menu-icon[srcset] {
        filter: grayscale(1);
        mix-blend-mode: plus-lighter;
    }
}