@media (-moz-pref("theme.betterBookmarks.toolbarFolders")) {
    #personal-bookmarks {
        & .toolbarbutton-icon[type="menu"] {
            display: none !important;
        }
    }
}

@media (-moz-pref("theme.betterBookmarks.subFolders")) {
    #personal-bookmarks {
        & .menu-icon:not([srcset]) {
            display: none !important;
        }
    }
}

@media (-moz-pref("theme.betterBookmarks.websitesIcon", "toolbar")) {
    toolbarbutton.bookmark-item[image^="page-icon"] > image {
        display: none !important;
    }
}

@media (-moz-pref("theme.betterBookmarks.websitesIcon", "folders")) {
    .toolbar-menupopup .menu-iconic .menu-icon[srcset] {
        display: none !important;
    }
}

@media (-moz-pref("theme.betterBookmarks.websitesIcon", "all")) {
    .toolbar-menupopup .menu-iconic .menu-icon[srcset] {
        display: none !important;
    }
    toolbarbutton.bookmark-item[image^="page-icon"] > image {
        display: none !important;
    }
}

@media (-moz-pref("theme.betterBookmarks.websitesIconGrayscale")) {
    .toolbar-menupopup .menu-iconic .menu-icon[srcset],
    toolbarbutton.bookmark-item[image^="page-icon"] > image {
        filter: grayscale(1);
        mix-blend-mode: plus-lighter;
    }
}

@media (-moz-pref("theme.betterBookmarks.toolbarAlignment", "left")) {
    #PersonalToolbar #PlacesToolbarItems {
        justify-content: left !important;
    }
}
@media (-moz-pref("theme.betterBookmarks.toolbarAlignment", "center")) {
    #PersonalToolbar #PlacesToolbarItems {
        justify-content: center !important;
    }
}
@media (-moz-pref("theme.betterBookmarks.toolbarAlignment", "right")) {
    #PersonalToolbar #PlacesToolbarItems {
        justify-content: right !important;
    }
}